<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssmr.chapter05.dao.EmployeeTaskDao">

    <resultMap id="employeeTaskMap" type="com.ssmr.chapter05.pojo.EmployeeTask">
        <id column="id" property="id"/>
        <result column="emp_id" property="empId"/>
        <result column="task_name" property="taskName"/>
        <result column="note" property="note"/>
        <!--雇员任务表一对一级联-->
        <association property="task" column="task_id"
                     select="com.ssmr.chapter05.dao.TaskDao.getTask" />
    </resultMap>

    <select id="getEmployeeTaskByEmpId" resultMap="employeeTaskMap">
        select id, emp_id, task_name, task_id, note
        from t_employee_task
        where emp_id = #{empId}
    </select>
</mapper>